@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/card.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);
@import url(../blocks/profile.css);

@media screen and (min-width: 880px) {
  .profile__title {
    min-width: 298px;
  }
  .page__section {
    margin: 0 auto;
    max-width: calc(100% - 40px);
  }
}
@media screen and (max-width: 879px) {
  .page__content {
    margin: 0;
  }
  .profile__title {
    max-width: 200px;
    font-size: 22px;
    line-height: 27px;
  }
  .profile__info {
    grid-template-columns: minmax(auto, 175px) auto;
  }
  .footer {
    width: 581px;
  }
}

@media screen and (max-width: 619px) {
  .header__line {
    margin-top: 32px;
  }
  .profile {
    display: flex;
    flex-direction: column;
  }
  .profile__title {
    margin-top: 26px;
    margin-bottom: 14px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
  .profile__add-button {
    margin: 0;
    width: 100%;
    max-width: 282px;
    margin: 36px 0;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
  .footer {
    max-width: calc(100% - 40px);
    height: 14px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
